* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ol,
ul {
    list-style: none;
}
body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #000;
    overflow-x: hidden;
    min-width: 320px;
    font-weight: 500;
}
input,
textarea,
select {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 500;
}
a {
    color: #000;
}
p {
    line-height: 1.6em;
    font-size: 16px;
    font-family: "Inter", Arial;
    font-weight: 500;
    color: #000;
}
br.clear {
    clear: both;
    line-height: 0;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1280px;
}
.flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header {
    padding: 20px 0;
}
header nav.left ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav.left ul li {
    margin-right: 25px;
}
header nav.left ul li:last-child {
    margin-right: 0;
}
header nav.left ul li a {
    font-size: 10px;
    font-weight: normal;
}

header nav.left ul li h1 a {
    display: block;
    width: 35px;
}
header nav.left ul li h1 a img {
    width: 100%;
    display: block;
}
header nav.right ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav.right ul li {
    margin-right: 10px;
}
header nav.right ul li:last-child {
    margin-right: 0;
}
header nav.right ul li:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav.right ul li a {
    display: block;
}
header nav.right ul li a.button {
    width: 28px;
    height: 28px;
    background: #f4643f;
    padding: 6px;
}
header nav.right ul li a.button img {
    display: block;
    width: 100%;
    filter: invert(100%);
}
header nav.right ul li small {
    display: block;
    width: 15px;
}
header nav.right ul li small img {
    display: block;
    width: 100%;
}
header nav.right ul li form input[type="search"] {
    width: 65px;
    font-size: 10px;
    margin-left: 10px;
}
header nav.right ul li div.img {
    width: 20px;
}
header nav.right ul li div.img img {
    width: 100%;
}
header hr.line {
    margin-top: 15px;
    border-bottom: 1px solid #e6e6e6;
}
#spotlight {
    padding: 80px 0;
}
#spotlight div.left {
    width: 40%;
}
#spotlight div.left h4 {
    color: #d05d42;
    font-size: 14px;
}
#spotlight div.left h1 {
    font-size: 57px;
    font-weight: 600;
    margin: 20px 0;
    line-height: 1.5;
}
#spotlight div.left p {
    font-size: 13px;
    font-weight: normal;
    color: #8d8d8d;
    width: 80%;
    margin-bottom: 20px;
}
#spotlight div.left a.button {
    display: inline-block;
    font-size: 13px;
    background: #f4643f;
    color: #fff;
    padding: 9px 24px;
}
#spotlight div.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#spotlight div.right div.bg {
    box-shadow: -11px 11px 0px -2px rgba(244, 100, 63, 1);
    margin-left: 20px;
    width: 30%;
}
#spotlight div.right div.bg div.img {
    width: 200px;
}
#spotlight div.right div.bg div.img img {
    width: 100%;
    display: block;
}
#about {
    background: #f9f9f9;
    position: relative;
    z-index: -5;
    padding: 150px 140px;
}
#about {
    background: #f9f9f9 url(../images/image\ complete\ art.jpg) no-repeat;
    background-size: 420px;
    background-position: 80%;
}
#about div.left {
    width: 45%;
}
#about div.left div.bg {
    position: relative;
}
#about div.left div.bg span {
    border: 2px solid #000;
    height: 40px;
    width: 23px;
    display: block;
    position: absolute;
    left: 1%;
    bottom: -60%;
    z-index: -1;
}
#about div.left div.bg h4 {
    color: #d05d42;
    font-size: 14px;
    margin-bottom: 30px;
}
#about div.left h2 {
    font-size: 40px;
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 20px;
}

#about div.left p {
    font-size: 13px;
    font-weight: normal;
    color: #8d8d8d;
}
#about div.left p span {
    color: #d05d42;
    font-size: 13px;
    margin-bottom: 20px;
}
#about div.left div.container {
    background: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 91%;
}

#about div.left div.container div.img {
    width: 60px;
    margin-right: 15px;
}

#about div.left div.container div.img img {
    width: 100%;
    display: block;
}

#about div.right {
    position: relative;
}
#about div.right div.bg {
    position: absolute;
    background: #12192c;
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 100px;
    width: 420px;
    left: 60.7%;
    bottom: -58px;
}
#about div.right div.bg h2 {
    font-size: 60px;
    font-weight: normal;
    color: #f36541;
    margin-right: 20px;
    margin-left: 112px;
}
#about div.right div.bg h4 {
    max-width: 20%;
    font-size: normal;
    font-size: 14px;
    color: #fff;
    line-height: 2;
}
#industry {
    padding: 110px 0;
}
#industry section.top {
    text-align: center;
    margin: 0 auto 50px;
}
#industry section.top div.bg {
    position: relative;
}
#industry section.top div.bg span {
    border: 2px solid #000;
    height: 40px;
    width: 23px;
    display: block;
    position: absolute;
    left: 47%;
    bottom: -60%;
    z-index: -1;
}
#industry section.top div.bg h4 {
    color: #d05d42;
    font-size: 14px;
    margin-bottom: 30px;
}
#industry section.top h2 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
}
#industry section.top p {
    width: 22%;
    font-size: 13px;
    text-align: center;
    margin: 0 auto;
    font-weight: normal;
    color: #8d8d8d;
    width: 30%;
    margin-bottom: 20px;
}

#industry section.bottom ul {
    display: flex;
    justify-content: space-between;
}
#industry section.bottom ul li hr.line {
    border-bottom: 4px solid #000;
    width: 90%;
    margin-left: 20px;
}
#industry section.bottom ul li div.bg {
    height: 230px;
    position: relative;
    margin-bottom: 30px;
}
#industry section.bottom ul li div.bg.one {
    background: url(../images/industry1.jpg) no-repeat;
    background-size: 380px;
    background-position: center -100px;
}
#industry section.bottom ul li div.bg.two {
    background: url(../images/industry2.jpg) no-repeat;
    background-size: 380px;
    background-position: center -257px;
}
#industry section.bottom ul li div.bg.three {
    background: url(../images/industry3.jpg) no-repeat;
    background-size: 380px;
    background-position: center -205px;
}
#industry section.bottom ul li div.bg div.logo-bg {
    position: absolute;
    padding: 6px;
    background: #fff;
    border-bottom: 2px solid #000;
    left: 70%;
    top: 77%;
}
#industry section.bottom ul li div.bg div.logo-bg img {
    width: 100%;
    display: block;
}
#industry section.bottom ul li div.content {
    width: 90%;
    margin-left: 40px;
    margin-bottom: 30px;
}
#industry section.bottom ul li div.content h5 {
    color: #d05d42;
    font-size: 14px;
    margin-bottom: 18px;
}
#industry section.bottom ul li div.content h4 {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 15px;
}
#industry section.bottom ul li div.content p {
    font-size: 13px;
    font-weight: normal;
    color: #8d8d8d;
    width: 90%;
    margin-bottom: 15px;
}
#industry section.bottom ul li div.content a {
    padding: 10px 32px;
    background: #f4643f;
    color: #fff;
    font-size: 12px;
}
#industry section.bottom ul li div.content a.button {
    cursor: pointer;
}
#logo {
    padding-bottom: 110px;
}

#logo div.one {
    text-align: center;
}

#logo div.one div.bg {
    position: relative;
}

#logo div.one div.bg span {
    border: 2px solid #000;
    height: 40px;
    width: 23px;
    display: block;
    position: absolute;
    left: 721px;
    bottom: -60%;
    z-index: -1;
}

#logo div.one div.bg h4 {
    color: #d05d42;
    font-size: 14px;
    margin-bottom: 30px;
}

#logo h2 {
    font-size: 40px;
    font-weight: bold;
}

#logo p {
    font-size: 13px;
    font-weight: normal;
    width: 25%;
    margin: 10px auto 40px;
    color: #8d8d8d;
}

#logo div.two ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#logo div.two ul li {
    width: 20%;
}

#logo div.two ul li div.image img {
    width: 100%;
    display: block;
}
#logo div.two ul li.wide {
    width: 40%;
}

#logo div.two ul li.wide div.image1 {
    width: 100%;
    height: 100%;
}

#logo div.two ul li.wide div.image1 img {
    width: 100%;
    display: block;
}
#news {
    padding-bottom: 100px;
}
#news div.top {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
#news div.top div.bg {
    position: relative;
}
#news div.top div.bg span {
    border: 2px solid #000;
    height: 40px;
    width: 23px;
    display: block;
    position: absolute;
    left: 45%;
    bottom: 81%;
    z-index: -1;
}
#news div.top div.bg h4 {
    color: #d05d42;
    font-size: 14px;
    margin-bottom: 30px;
}
#news div.top div.bg h2 {
    font-size: 40px;
    font-weight: 600;
}
#news div.top div.bg p {
    font-size: 13px;
    font-weight: normal;
    width: 60%;
    margin: 10px auto 40px;
    color: #8d8d8d;
}
#news div.bottom {
    margin-bottom: 180px;
}
#news div.bottom ul {
    display: flex;
}
#news div.bottom ul li {
    position: relative;
    width: 50%;
}
#news div.bottom ul li div.bg {
    height: 230px;
}
#news div.bottom ul li div.bg.one {
    background: url(../images/close-up-industrial-robot-welding-car-factory-close-up-industrial-robot-welding-metal-part-car-factory-109640032.jpg)
        no-repeat;
    background-size: 380px;
    background-position: center -8px;
}
#news div.bottom ul li div.bg.two {
    background: url(../images/industrial-pumps-pipes-large-moving-hot-liquid-associated-piping-insulated-to-retain-temperature-liquid-50254533.jpg)
        no-repeat;
    background-size: 380px;
    background-position: center -40px;
}
#news div.bottom ul li div.bg.three {
    background: url(../images/industrial-plant-24624801.jpg) no-repeat;
    background-size: 380px;
    background-position: center -22px;
}
#news div.bottom ul li:first-child div.content {
    position: absolute;
    bottom: -130px;
    left: 40px;
}
#news div.bottom ul li:nth-child(2) div.content {
    position: absolute;
    left: 40px;
    bottom: -130px;
}
#news div.bottom ul li:last-child div.content {
    position: absolute;
    left: 40px;
    bottom: -130px;
}
#news div.bottom ul li div.content a.button {
    padding: 10px 32px;
    background: #f4643f;
    color: #fff;
    font-size: 12px;
    margin-bottom: 10px;
    display: inline-block;
}
#news div.bottom ul li div.content span {
    display: block;
    margin-bottom: 10px;
    color: #8d8d8d;
    font-size: 13px;
    font-weight: 600;
}
#news div.bottom ul li div.content small {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    margin: 0 10px;
}
#news div.bottom ul li div.content h4 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 8px;
    width: 66%;
}
#news div.bottom ul li div.content div.button {
    display: flex;
    align-items: center;
}
#news div.bottom ul li div.content div.button a.button {
    color: #d05d42;
    background: none;
    padding: 0;
    font-size: 14px;
    width: 26%;
    margin-bottom: 0;
}
#news div.bottom ul li div.content div.button a {
    width: 30px;
}
#news div.bottom ul li div.content div.button a img {
    display: block;
    width: 100%;
    color: #cb5233;
    filter: brightness(50%) sepia(100) saturate(100) hue-rotate(25deg);
}
#news div.select {
    display: flex;
    align-items: center;
    justify-content: center;
}
#news div.select span {
    display: block;
    border: 3px solid #f4643f;
    height: 15px;
    width: 15px;
    margin: 0 5px;
}
#news div.select span:nth-child(2) {
    background: #f4643f;
}
#works {
    background: #f1f2f4;
    padding: 100px 0;
}
#works div.head {
    position: relative;
    margin-bottom: 21px;
}
#works div.head span.text {
    color: #d05d42;
    font-size: 14px;
}
#works div.head div.door {
    position: absolute;
    height: 42px;
    width: 21px;
    border: 2px solid #000;
    top: -62%;
    left: 1%;
}
#works div.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#works div.container div.left {
    width: 48%;
}
#works div.container div.left h1 {
    font-size: 40px;
    font-weight: 600;
    width: 183px;
    line-height: 2.5rem;
}
#works div.container div.left p {
    font-size: 13px;
    font-weight: normal;
    color: #8d8d8d;
    margin: 20px 0;
    width: 301px;
}
#works div.container div.left p span {
    color: #d05d42;
    font-size: 13px;
}
#works div.container div.left a.button {
    display: inline-block;
    background: #f4643f;
    color: #fff;
    padding: 10px 36px;
    font-size: 12px;
}
#works div.container ul {
    width: 80%;
    display: flex;
}
#works div.container ul li {
    margin-left: 40px;
    background: #ffffff;
    padding: 30px 10px;
}
#works div.container ul li div.icon {
    width: 40px;
    margin-bottom: 16px;
}
#works div.container ul li div.icon img {
    display: block;
    width: 100%;
}
#works div.container ul li h5 {
    font-size: 18px;
    font-weight: 600;
    width: 84px;
    margin-top: 22px;
}
#works div.container ul li p {
    font-size: 13px;
    font-weight: normal;
    color: #8d8d8d;
    margin-top: 10px;
}
#works div.container ul li p span {
    color: #d05d42;
    font-size: 13px;
}
#review {
    padding: 100px 0;
}

#review div.rank {
    text-align: center;
    margin-bottom: 70px;
}
#review div.rank ul {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    list-style-type: none;
}
#review div.rank ul li {
}
#review div.rank ul li h4 {
    font-size: 37px;
    font-weight: 700;
    color: #f4643f;
    margin-bottom: 10px;
}
#review div.rank ul li h5 {
    font-size: 10px;
    color: #8d8d8d;
    margin-bottom: 10px;
}
#review div.rank ul li h6 {
    font-size: 20px;
    font-weight: 600;
}
#review div.container {
    background: url(../images/review.jpg) no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
}
#review div.container div.content {
    width: 33%;
    background-color: #fff;
    margin-left: 259px;
    position: relative;
    padding: 38px;
    height: 549px;
}
#review div.container div.content div.bg {
    position: absolute;
    bottom: 93%;
    z-index: 0;
}
#review div.container div.content div.bg span {
    border: 2px solid #000;
    height: 43px;
    width: 23px;
    display: block;
    position: absolute;
    left: 11%;
    bottom: 41%;
    z-index: -1;
}
#review div.container div.content div.bg h4 {
    color: #d05d42;
    font-size: 14px;
    margin-bottom: 30px;
}
#review div.container div.content h2 {
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 40px;
}
#review div.container div.content ul {
    display: flex;
    margin-bottom: 25px;
    justify-content: space-between;
    align-items: center;
}
#review div.container div.content ul li {
}
#review div.container div.content ul li:nth-child(2) {
    opacity: 0.5;
}
#review div.container div.content ul li:last-child {
    opacity: 0.5;
}
#review div.container div.content ul li div.img {
    box-shadow: 10px 10px 0px 0px rgba(197, 197, 197, 1);
    width: 83px;
    margin-bottom: 20px;
}
#review div.container div.content ul li:nth-child(2) div.img {
    box-shadow: 10px 10px 0px 0px rgba(253, 226, 219, 1);
}
#review div.container div.content ul li:last-child div.img {
    box-shadow: 10px 10px 0px 0px rgba(253, 226, 219, 1);
}
#review div.container div.content ul li div.img img {
    display: block;
    width: 100%;
}
#review div.container div.content ul li small {
    font-size: 12px;
    margin-left: 10px;
}
#review div.container div.content ul li span {
    font-size: 12px;
    color: #d57358;
}
#review div.container div.content blockquote {
    font-size: 12px;
    font-style: italic;
    color: #8d8d8d;
    margin-bottom: 50px;
}
#review div.container div.content div.rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#review div.container div.content div.rating div.left {
    display: flex;
    align-items: center;
}
#review div.container div.content div.rating div.left div.arrow {
    width: 20px;
}
#review div.container div.content div.rating div.left div.arrow img {
    display: block;
    width: 100%;
}
#review div.container div.content div.rating div.left small {
    margin: 0 10px;
    font-size: 12px;
    font-weight: 600;
}
#review div.container div.content div.right {
    display: flex;
}
#review div.container div.content div.right span.star {
    width: 11px;
    margin-right: 10px;
}
#review div.container div.content div.right span.star img {
    display: block;
    width: 100%;
}
#review div.container div.content div.contact {
    padding: 10px;
    background: #12192c;
    position: absolute;
    width: 501px;
    height: 94px;
    right: 0px;
    top: 470px;
}
#review div.container div.content div.contact h4 {
    color: #fff;
    text-align: center;
    font-size: 13px;
    margin: 10px 0;
}
#review div.container div.content div.contact h3 {
    color: #f36541;
    text-align: center;
    font-size: 30px;
}
#review div.icon {
    width: 79%;
    margin: 0 auto;
    padding-top: 70px;
}
#review div.icon ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
#review div.icon ul li {
}
#review div.icon ul li div.completed {
    text-align: center;
}
#review div.icon ul li div.completed span {
    width: 45px;
    display: inline-block;
    margin-bottom: 10px;
}
#review div.icon ul li div.completed span img {
    width: 100%;
    display: inline-block;
}
#review div.icon ul li div.completed h4 {
    font-size: 12px;
    color: #797979;
}
