* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ol,
ul {
    list-style: none;
}
body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #000;
    overflow-x: hidden;
    min-width: 320px;
    font-weight: 500;
}
input,
textarea,
select {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 500;
}
a {
    color: #000;
}
p {
    line-height: 1.6em;
    font-size: 16px;
    font-family: "Inter", Arial;
    font-weight: 500;
    color: #000;
}
br.clear {
    clear: both;
    line-height: 0;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1280px;
}
.flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header {
    padding: 20px 0;
}
header nav.left ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav.left ul li {
    margin-right: 25px;
}
header nav.left ul li:last-child {
    margin-right: 0;
}
header nav.left ul li a {
    font-size: 10px;
    font-weight: normal;
}

header nav.left ul li h1 a {
    display: block;
    width: 35px;
}
header nav.left ul li h1 a img {
    width: 100%;
    display: block;
}
header nav.right ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav.right ul li {
    margin-right: 10px;
}
header nav.right ul li:last-child {
    margin-right: 0;
}
header nav.right ul li:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav.right ul li a {
    display: block;
}
header nav.right ul li a.button {
    width: 28px;
    height: 28px;
    background: #f4643f;
    padding: 6px;
}
header nav.right ul li a.button img {
    display: block;
    width: 100%;
    filter: invert(100%);
}
header nav.right ul li small {
    display: block;
    width: 15px;
}
header nav.right ul li small img {
    display: block;
    width: 100%;
}
header nav.right ul li form input[type="search"] {
    width: 65px;
    font-size: 10px;
    margin-left: 10px;
}
header nav.right ul li div.img {
    width: 20px;
}
header nav.right ul li div.img img {
    width: 100%;
}
header hr.line {
    margin-top: 15px;
    border-bottom: 1px solid #e6e6e6;
}
#spotlight {
    padding: 80px 0;
}
#spotlight div.left {
    width: 40%;
}
#spotlight div.left h4 {
    color: #d05d42;
    font-size: 14px;
}
#spotlight div.left h1 {
    font-size: 57px;
    font-weight: 600;
    margin: 20px 0;
    line-height: 1.5;
}
#spotlight div.left p {
    font-size: 13px;
    font-weight: normal;
    color: #8d8d8d;
    width: 80%;
    margin-bottom: 20px;
}
#spotlight div.left a.button {
    display: inline-block;
    font-size: 13px;
    background: #f4643f;
    color: #fff;
    padding: 9px 24px;
}
#spotlight div.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#spotlight div.right div.bg {
    box-shadow: -11px 11px 0px -2px rgba(244, 100, 63, 1);
    margin-left: 20px;
    width: 30%;
}
#spotlight div.right div.bg div.img {
    width: 200px;
}
#spotlight div.right div.bg div.img img {
    width: 100%;
    display: block;
}
#about {
    background: #f9f9f9;
    position: relative;
    z-index: -5;
    padding: 150px 140px;
}
#about{
    background: #f9f9f9 url(../images/image\ complete\ art.jpg) no-repeat;
    background-size: 420px;
    background-position: 80%;
}
#about div.left {
    width: 45%;
}
#about div.left div.bg {
    position: relative;
}
#about div.left div.bg span {
    border: 2px solid #000;
    height: 40px;
    width: 23px;
    display: block;
    position: absolute;
    left: 1%;
    bottom: -60%;
    z-index: -1;
}
#about div.left div.bg h4 {
    color: #d05d42;
    font-size: 14px;
    margin-bottom: 30px;
}
#about div.left h2 {
    font-size: 40px;
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 20px;
}

#about div.left p {
    font-size: 13px;
    font-weight: normal;
    color: #8d8d8d;
}
#about div.left p span {
    color: #d05d42;
    font-size: 13px;
    margin-bottom: 20px;
}
#about div.left div.container {
    background: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 91%;
}

#about div.left div.container div.img {
    width: 60px;
    margin-right: 15px;
}
#about div.left div.container div.content {
}
#about div.left div.container div.img img {
    width: 100%;
    display: block;
}
#about div.left div.container h4 {
}
#about div.left div.container p {
}
#about div.right {
    position: relative;
}
#about div.right div.bg {
    position: absolute;
    background: #12192c;
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 100px;
    width: 420px;
    left:60.7%;
    bottom: -58px;
}
#about div.right div.bg h2 {
    font-size: 60px;
    font-weight: normal;
    color: #f36541;
    margin-right: 20px;
    margin-left: 112px;
}
#about div.right div.bg h4{
    max-width: 20%;
    font-size: normal;
    font-size: 14px;
    color: #fff;
    line-height: 2;
}